@page "/recipes/create"

<h1>Recipes</h1>

<p>This component demonstrates sending data to a service.</p>

<EditForm Model="@_recipe" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator />

    <p>
        <label for="Title">Title: </label>
        <InputText id="Title" @bind-Value="_recipe.Title" class="form-control" />
        <ValidationMessage For="@(() => _recipe.Title)" />
    </p>
</EditForm>