@page "/recipes/{id}"

<h1>Update Recipe</h1>

<EditForm Model="@_recipe" OnValidSubmit="@HandleValidSubmit">
    <Validate />

    <p>
        <label for="Title">Title: </label>
        <InputText id="Title" @bind-Value="_recipe.Title" class="form-control" />
        <ValidationMessage For="@(() => _recipe.Title)" />
    </p>
</EditForm>