@page "/dispensers"
@inherits ListDispensers

<h1>Dispensers</h1>

<p>This component demonstrates fetching data from a service.</p>

@if(Loading)
{
    <Bartendro.Web.Shared.Loading />
}
else
{
    <button @onclick="Refresh">Refresh Data</button>

    <table class="table">
        <thead>
            <tr>
                <th>Port</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var port in Ports)
            {
                <tr>
                    <td>@port</td>
                </tr>
            }
        </tbody>
    </table>
}